USE [master]
GO
/****** Object:  Database [QuanLyPhongTro.K235480106049]    Script Date: 4/29/2026 3:08:45 PM ******/
CREATE DATABASE [QuanLyPhongTro.K235480106049]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyPhongTro.K235480106049', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLyPhongTro.K235480106049.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyPhongTro.K235480106049_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLyPhongTro.K235480106049_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyPhongTro.K235480106049].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyPhongTro.K235480106049]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_PhanLoaiDienTichPhong]    Script Date: 4/29/2026 3:08:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_PhanLoaiDienTichPhong]()
RETURNS @DanhSachPhanLoai TABLE
(
    MaPhong INT,
    TenPhong NVARCHAR(50),
    DienTich FLOAT,
    LoaiKichThuoc NVARCHAR(20)
)
AS
BEGIN
    
    INSERT INTO @DanhSachPhanLoai (MaPhong, TenPhong, DienTich, LoaiKichThuoc)
    SELECT 
        MaPhong,
        TenPhong,
        DienTich,
        CASE 
            WHEN DienTich < 20 THEN N'Phòng Nhỏ'
            WHEN DienTich BETWEEN 20 AND 30 THEN N'Phòng Vừa'
            ELSE N'Phòng Rộng'
        END
    FROM dbo.PhongTro;

    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhTongDonHang]    Script Date: 4/29/2026 3:08:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Tạo hàm mới
CREATE FUNCTION [dbo].[fn_TinhTongDonHang] 
(
    @MaSP INT,        -- Tương ứng @MaPhong
    @SoLuong INT,     -- Tham số tính toán
    @PhiShip MONEY    -- Tương ứng @TienCoc
)
RETURNS MONEY
AS
BEGIN
    DECLARE @DonGia MONEY;

    -- Lấy đơn giá sản phẩm từ bảng DanhMuc (Tương ứng bước SELECT lấy GiaPhong)
    SELECT @DonGia = s.GiaBan
    FROM dbo.SanPham s
    WHERE s.MaSP = @MaSP;

    -- Trả về kết quả cuối cùng (Tương ứng phép cộng ở RETURN)
    RETURN (ISNULL(@DonGia, 0) * @SoLuong) + ISNULL(@PhiShip, 0);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TongTienNopDauVao]    Script Date: 4/29/2026 3:08:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_TongTienNopDauVao] (@MaPhong INT, @TienCoc MONEY)
RETURNS MONEY
AS
BEGIN
    DECLARE @GiaPhong MONEY;
    
    -- Truy vấn lấy giá thuê phòng bằng cách nối bảng
    SELECT @GiaPhong = lp.GiaPhong
    FROM dbo.LoaiPhong lp 
    JOIN dbo.PhongTro pt ON lp.MaLoaiPhong = pt.MaLoaiPhong
    WHERE pt.MaPhong = @MaPhong;
    
    -- Trả về tổng: Giá thuê + Tiền cọc
    RETURN ISNULL(@GiaPhong, 0) + ISNULL(@TienCoc, 0);
END;
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 4/29/2026 3:08:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[MaLoaiPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiPhong] [nvarchar](100) NULL,
	[GiaPhong] [money] NULL,
	[DienTich] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DanhSachPhongTheoLoai]    Script Date: 4/29/2026 3:08:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_DanhSachPhongTheoLoai] (@TenLoaiPhong NVARCHAR(50))
RETURNS TABLE
AS
RETURN
(
    SELECT 
        p.MaPhong,
        p.TenPhong,
        lp.TenLoaiPhong,
        lp.GiaPhong,
        p.TrangThai
    FROM dbo.PhongTro p
    JOIN dbo.LoaiPhong lp ON p.MaLoaiPhong = lp.MaLoaiPhong
    WHERE lp.TenLoaiPhong LIKE '%' + @TenLoaiPhong + '%'
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TimPhongTheoTrangThai]    Script Date: 4/29/2026 3:08:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Tạo hàm Table-valued Function tìm phòng theo trạng thái
CREATE FUNCTION [dbo].[fn_TimPhongTheoTrangThai] (@TrangThai NVARCHAR(30))
RETURNS TABLE
AS
RETURN (
    SELECT [MaPhong], [TenPhong], [TrangThai]
    FROM [dbo].[PhongTro]
    WHERE [TrangThai] = @TrangThai
);
GO
/****** Object:  Table [dbo].[CanHo]    Script Date: 4/29/2026 3:08:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CanHo](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenPhong] [nvarchar](50) NULL,
	[MaLoaiPhong] [int] NULL,
	[TrangThai] [nvarchar](30) NULL,
	[DienTich] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 4/29/2026 3:08:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHopDong] [int] NOT NULL,
	[MaPhong] [int] NULL,
	[MaKhachThue] [int] NULL,
	[NgayBatDau] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachThue]    Script Date: 4/29/2026 3:08:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachThue](
	[MaKhachThue] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuThayDoi]    Script Date: 4/29/2026 3:08:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuThayDoi](
	[MaThayDoi] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachThue] [int] NULL,
	[NoiDung] [nvarchar](255) NULL,
	[NgayThayDoi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThayDoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LichSuThayDoi] ADD  DEFAULT (getdate()) FOR [NgayThayDoi]
GO
ALTER TABLE [dbo].[CanHo]  WITH CHECK ADD FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([MaLoaiPhong])
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HD_Khach] FOREIGN KEY([MaKhachThue])
REFERENCES [dbo].[KhachThue] ([MaKhachThue])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HD_Khach]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HD_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[CanHo] ([MaPhong])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HD_Phong]
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachHopDongChiTiet]    Script Date: 4/29/2026 3:08:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DanhSachHopDongChiTiet]
AS
BEGIN
    SELECT 
        HD.MaHopDong      AS [Mã HĐ],
        KT.HoTen          AS [Khách Thuê],
        CH.TenPhong       AS [Tên Phòng],
        LP.TenLoaiPhong   AS [Loại Phòng],
        LP.GiaPhong       AS [Giá Thuê (VNĐ)],
        HD.NgayBatDau     AS [Ngày Bắt Đầu]
    FROM HopDong HD
    JOIN KhachThue KT ON HD.MaKhachThue = KT.MaKhachThue
    JOIN CanHo CH ON HD.MaPhong = CH.MaPhong
    JOIN LoaiPhong LP ON CH.MaLoaiPhong = LP.MaLoaiPhong
    ORDER BY HD.NgayBatDau DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TinhDoanhThuCuaPhong]    Script Date: 4/29/2026 3:08:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TinhDoanhThuCuaPhong]
    @TenLoaiPhong NVARCHAR(50),     
    @TongDoanhThu MONEY OUTPUT      
AS
BEGIN

    SELECT @TongDoanhThu = SUM(lp.[GiaPhong])
    FROM [dbo].[LoaiPhong] lp
    JOIN [dbo].[CanHo] ch ON lp.[MaLoaiPhong] = ch.[MaLoaiPhong]
    WHERE lp.[TenLoaiPhong] = @TenLoaiPhong;

    IF @TongDoanhThu IS NULL SET @TongDoanhThu = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertPhongTro]    Script Date: 4/29/2026 3:08:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 -- Giả sử đây là phần bắt đầu của stored procedure dựa trên logic trong ảnh
CREATE PROCEDURE [dbo].[sp_UpsertPhongTro]
    @MaPT NVARCHAR(50),
    @TenPhong NVARCHAR(100),
    @LoaiPhong NVARCHAR(50),
    @DonGia DECIMAL(18, 2)
AS
BEGIN
    -- Kiểm tra điều kiện đơn giá (dựa trên thông báo lỗi trong ảnh)
    IF @DonGia <= 0
    BEGIN
        PRINT N'Lỗi: Đơn giá phải lớn hơn 0!';
        RETURN;
    END

    -- Kiểm tra nếu mã phòng trọ đã tồn tại
    IF EXISTS (SELECT 1 FROM dbo.PhongTro WHERE MaPT = @MaPT)
    BEGIN
        -- Thực hiện cập nhật
        UPDATE dbo.PhongTro
        SET TenPhong = @TenPhong,
            LoaiPhong = @LoaiPhong,
            DonGia = @DonGia
        WHERE MaPT = @MaPT;

        PRINT N'Đã cập nhật thông tin phòng: ' + @MaPT;
    END
    ELSE
    BEGIN
        -- Thực hiện thêm mới
        INSERT INTO dbo.PhongTro (MaPT, TenPhong, LoaiPhong, DonGia)
        VALUES (@MaPT, @TenPhong, @LoaiPhong, @DonGia);

        PRINT N'Đã thêm mới phòng: ' + @MaPT;
    END
END
GO
USE [master]
GO
